body{
    background-color: #fffbf2ff;
}
.custom-navbar{
    background-color: red;
    padding: 10px 15px;
}
.custom-navbar a {
    color: white;
}
.custom-navbar a:hover {
    color: #d9d9d9;
    transform: scale(1.05);
}
.custom-navbar .navbar-brand {
    font-size: 28px;
}
.footer a {
    color: white;
    font-size: 20px;
}
.btn:hover {
    background-color: #d9d9d9;
    color: black;
    transform: scale(1.05);
}
.back-button:hover{
    transform: scale(1.05);
    color: red;
    cursor: pointer;
}
.next-button:hover{
    transform: scale(1.05);
    color: red;
    cursor: pointer;
}
.img-wrapper {
    width: 100%;
    height: 600px; 
    overflow: hidden;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}