body{
    background-color: #fffbf2ff;
}
.row {
    align-items: center;
}
.custom-navbar{
    background-color: red;
    padding: 10px 15px;
}
.custom-navbar a {
    color: white;
}
.custom-navbar a:hover {
    color: #d9d9d9;
    transform: scale(1.05);
}
.custom-navbar .navbar-brand {
    font-size: 28px;
}
.footer a {
    color: white;
    font-size: 20px;
}
.btn:hover {
    background-color: #d9d9d9;
    color: black;
    transform: scale(1.05);
}
.back-button:hover{
    transform: scale(1.05);
    color: red;
    cursor: pointer;
}
.next-button:hover{
    transform: scale(1.05);
    color: red;
    cursor: pointer;
}
.img-wrapper {
    position: relative;
    width: 100%;
}
.base-img {
    display: block;
    width: 100%;
    height: auto; 
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-container svg {
    width: 100%;
    height: 100%;
}
.orchestra-section {
    fill-opacity: 0; 
    transition: fill-opacity 0.3s ease, stroke-width 0.3s ease;
}
.orchestra-section:hover {
    fill-opacity: 0.8;
    stroke-width: 4px; 
    cursor: pointer; 
}