{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                <p>You are about to attend a concert at Carnegie Hall. There will be an orchestra on stage. This is your crash course to orchestral instruments, where they are usually located on stage, and each of their sounds.</p>
              <a href="{{ url_for('render_learnpage') }}" class="btn btn-dark w-100 mt-4">Get Started</a>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}