{% extends "layout.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-4 pt-5">
            <h1>{{ question.title }}</h1>
            <p class="mt-4 mb-4">{{ question.subtitle }}</p>
            {% if question.audio %}
            <audio controls>
                <source src="{{ url_for('static', filename=question.audio) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
        </div>
        <div class="col-8">
            <div class="img-wrapper"> 
                <img src="{{ url_for('static', filename=question.image) }}" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block nav_buttons %}
<nav class="navbar footer fixed-bottom bg-dark " role="Footer">
    <div class="container-fluid">
        <a class="nav-link back-button" aria-current="page" href="#">Back</a>
        <a class="nav-link next-button" aria-current="page" href="#">Next</a>
    </div>
</nav>
{% endblock %}